.social-link{
    font-size: large;
    font-family: monospace;
    text-decoration: none;
    color: inherit;
}

.social-link:hover {
    color:blue;
    cursor: url('/cursor.png') 0 0, auto;
    font-size: x-large;
}

.links-flexbox {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 20px;
}